{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}
{% endblock %}

{%block carousel%}
{%endblock%}


{% block mainContent %}


 
<div class="container mt-4 pt-4">
  <!--Section: Products v.3-->
  <section class=" mt-4 mb-4">

    <!--Grid row-->
    <div class="row wow fadeIn mt-4 justify-content-center" >
        <div class="col-9 mt-5">


              <h1>{% trans "Sign In" %}</h1>

              {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
              <p>{% blocktrans with site.name as site_name %}Please sign in with one
              of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
              for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

              <div class="socialaccount_ballot">

                <ul class="socialaccount_providers">
                 
                  
                </ul>

                <div class="login-or">{% trans 'or' %}</div>

              </div>

              {% include "socialaccount/snippets/login_extra.html" %}

              {% else %}
              <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              {% endif %}

              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}



                <p><label for="id_login" class="active">Username:</label>
                   <input   class="form-control" type="text" name="login" placeholder="Username" autocomplete="username" maxlength="150" required="" id="id_login">
                  </p>
                <p><label for="id_password" class="active">Password:</label> 
                  <input class="form-control"  type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
                </p>
                <div class="form-check">
                  <input class="form-check-input"  type="checkbox" name="remember" id="id_remember"><label  class="form-check-label" for="id_remember">Remember Me</label>
                </div>

               
              
              


                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"  />
                {% endif %}
                <div class="row justify-content-center">
                  <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                  <a class="btn btn-warning" href="{% provider_login_url 'google' %}">login with google</a>
                  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>

                </div>
            
              </form>
            </div>
            </div>
          </section>
        </div>
{% endblock %}









