{% extends 'base.html' %}
{%load crispy_forms_tags%}



<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

<script src="https://js.stripe.com/v3/"></script>

{% block carousel %}
{% endblock carousel %}

{%block mainContent %}
<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-md-8 mb-4">



         

          <!--Card-->
          <div class="card">


            



            <!--Card content-->
            <form class="card-body"  method="POST" >
                  {%csrf_token%}
              

             

             

              <!--address-->
              <div class="md-form mb-5">
                <label for="street_adress" class="">Address</label>
                <br>
                {{form.street_adress}}
            <!--<input type="text" id="street_adress" class="form-control" placeholder="type your adress"> -->

              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <label for="apartment" class="">Address 2 (optional)</label>
                <br>
                {{form.apartment}}

              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {{form.country}}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->

               

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  {{form.zip}}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

             

              <div class="custom-control custom-checkbox">
               {{form.same_billing_adress}}
                <label class="" for="same_billing_adress">Shipping address is the same as my billing address</label>
              </div>

              <div class="custom-control custom-checkbox">
                {{form.save_info}}
                <label class="" for="save_info">Save this information for next time</label>
              </div>
           
              
              <hr>

              <div class="d-block my-3">
                  {% for k,v in form.fields.payment_options.choices %}
                  <div class="custom-control custom-radio">
                    <input id="{{v}}" name="payment_options" type="radio" value="{{k}}" class="custom-control-input"  required>
                    <label class="custom-control-label" for="{{v}}">{{v}}</label>
                  </div>
                  {%endfor%}

                
              </div>
              
             
              <hr class="mb-4">
             
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
          
            </form>

              <!--
                     <form method="POST">
              {% csrf_token %}
              {{form|crispy}}
              <button type="submit" >submit</button>
            </form>
              -->
         

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      

      </div>
      <!--Grid row-->

    </div>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {%if adress_info%} 


  <script>
      document.getElementById('street_adress').setAttribute('value',"{{adress_info.street_Adress}}")
      document.getElementById('apartment').setAttribute('value',"{{adress_info.apartment}}")
  


      let country = $( "option[value='{{adress_info.country}}']" )
      console.log(country);

      $( "option[value='{{adress_info.country}}']" )[0].setAttribute("selected",'selected')
      document.getElementById('zip').setAttribute('value',"{{adress_info.zip}}")
      
      
  
  </script>
  
  {%endif%}


{% endblock mainContent %}


