{% extends "base.html" %}

{% load get_range %}
{% block carousel %}

{%endblock carousel %}




  {% block mainContent %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      {%for message in messages %}
      <div {%if message.tags %} class="alert alert-{{message.tags}}  alert-dismissible   animated fadeInDownBig"  {%endif%}   id="myAlert" role="alert">
        <a href = "#" class = "close" data-dismiss = "alert">&times;</a>
        
        <strong>Notification</strong> {{message}}
      </div>


      
      {%endfor%}
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{object.alt_image}}" class="img-fluid" alt="{{object.title}}">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{object.get_category_display}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">{{object.get_label_display}}</span>
              </a>

            </div>

            <p class="lead">

                {% if object.discout_price %}
               <span class="mr-1">
                {{object.discout_price}}$
                </span>
                <span><del>{{object.price}}$</del></span>
               {% else %}
              <span>{{object.price}}$</span>
                {%endif%}

            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>
              {{object.description}}</p>
              <div class="d-flex justify-content-left" >
                <form class="d-flex justify-content-left"   method="POST"  action="{{object.get_add_to_cart_url }}"   >  {% csrf_token %}
                  <!-- Default input -->
                  <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px" name="quantity">

                  <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                  </button>
                  
                </form>
                  
                    <form class="d-flex justify-content-center" method="POST", action="{{object.get_remove_from_cart_url }}"> {% csrf_token %}
                    <button class="btn btn-danger btn-md my-0 p" >remove from cart 
                      <i class="fas fa-shopping-cart ml-1"></i>
                    </button>
                  
                </form>
              </div>
            
           


          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

              <!--Grid row-->
              <div class="row wow fadeIn">


                {%for image in images %}
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <img src="{{image.alt_image}}"  class="img-fluid" alt="">

                </div>

                {%endfor%}
                <!--Grid column-->

                
           

              </div>
              <!--Grid row-->



      <hr>
      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-8 text-center">

          <h4 class="my-4 h4">reviews</h4>

          <!-- comments-->

          <div class="container">

          </div>
          <div id="comments_div">
            {%for comment in comments%}
            <div class="card p-3 mb-3 ">
              <div class="d-flex justify-content-start align-items-start ">
                  <div class="user d-flex flex-row align-items-center mr-2">
                     <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-2"> 
                     <span><small class="font-weight-bold text-primary">{{comment.user}}</small>
                    
                    </div>

                    <div class="user d-flex flex-row justify-content-start  pt-2 align-items-start" style="min-width: 70% !important;" >
                      <small class="font-weight-bold" style="word-break: break-all;word-wrap: break-word; overflow: hidden !important;"><p>{{comment.content}}</p></small> </span> 
                    </div>    
                     
              </div>
              <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <div class="reply px-4"> <small></small> <span class="dots"></span> <small></small> <span class="dots"></span> <small></small> </div>
                  <div class="icons align-items-center">
                    <small class="ml-2 mr-3 ">{{comment.rating}}</small>
                    {% for i in comment.rating|get_range %}
                     <i class="fa fa-star text-warning"></i>
                    
                     {%endfor%}
                     <i class="fa fa-check-circle-o check-icon"></i> 
                  </div>
                  



                
              </div>
          </div>
          {%endfor%}
          {%if user.is_authenticated%}
          <div class="card p-3 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center">
                      <img src="https://i.imgur.com/hczKIze.jpg" width="30" class="user-img rounded-circle mr-1"> 
                      <span><h5 class="font-weight-bold text-primary">{{user.username}}</h5>
                        <small class="font-weight-bold"></small> </span> 
                        <small class="d-flex justify-content-center pl-3 ml-3">   
                          <fieldset class="rating p-2"> 
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label> 
                            <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> 
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label> 
                            <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label> 
                            <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label> 
                            <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label> 
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label> 
                            <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            <input type="radio" class="reset-option" name="rating" value="reset" /> 
                          </fieldset></small>
                      </div>
                  </div>

                    <form method="POST" action="{% url 'ecommerce:insert_comment' %}">
                      {%csrf_token %}
                      <div class="action d-flex justify-content-end mt-2 align-items-center">
                          
                        <textarea class="form-control" id="comment" name="comment"  style="max-width: 95% !important;" rows="5"></textarea>
                        <input type="hidden" id="myrating" name="myrating" class="myrating" value=0>
                        <input type="hidden" id="product_id" name="product_id" class="product_id" value="{{object.id}}">

                        <br>
                        
                    </div>

                    <div class="action d-flex justify-content-center mt-2 align-items-center">
                      <button type="submit" id="submit_comment" class="btn btn-secondary btn-block ml-4"  style="max-width: 30%;">send</button>
                  </div>
                    </form>

          </div>

            
        </div>
          
          {%endif%}
          </div>

          
         
          
            
      
          

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

     

    </div>



  </main>
  <script>
        document.getElementsByName("rating").forEach(element => element.addEventListener('click',event =>{
          var sim = $("input[name='rating']:checked").val();
          $(".myrating").val(sim)
         console.log( document.getElementById('myrating').getAttribute('value'))
}));





    document.getElementById("submit_comment").addEventListener('click',event=>{
      event.preventDefault();
      
      let comment  =  document.getElementById("comment").value;
      let rating = document.getElementById("myrating").getAttribute('value');
      let product_id =   document.getElementById("product_id").getAttribute('value');
      let csrf = $("input[name='csrfmiddlewaretoken']").val();
      
      console.log(csrf);
      $.ajax({
                type : "POST", 
                url: "{% url 'ecommerce:insert_comment' %}",
                dataType: "html",
                type: "POST",
                data: {
                  comment : comment,
                  myrating : rating,
                  product_id : product_id,
                  csrfmiddlewaretoken: csrf,
                  
                  
                    },
              success: function(data){
              
                console.log(data)
                   
                   document.getElementById('comments_div').innerHTML=data;
                   
                },

                error : function(xhr,errmsg,err) {
        console.log("tfaket"); 
      
                }
    });
  });
    


  </script>


  {%endblock mainContent %}


