
{% extends 'base.html' %}


<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

<script src="https://js.stripe.com/v3/"></script>

{% block carousel %}
{% endblock carousel %}

{%block mainContent %}
<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Order Completed</h2>

      <!--Grid row-->
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-md-8 mb-4">



         

          <!--Card-->
          <div class="card" style="min-height:50px;">

				 <section>
			
			
			
			<div class="row justify-content-center align-items-center">
				
				<p  class="p-3">

						We appreciate your business! If you have any questions, please email

							<a href="mailto:imad.tel.imad@gmail.com">imad.tel.imad@gmail.com</a>.

			</p>
			
			<a class= "btn btn-primary m-5" href="{%url "ecommerce:home"%}"> go to main page</a>
			</div>

  </section>
            



         
         

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      

      </div>
      <!--Grid row-->

    </div>
  </main>
{% endblock mainContent %}


